*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.alert.alert-secondary,html, body{
    width: 100%;
    height: 100%;
    .login_module{
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #2196F3 25%, #49f1db 95%);
        display: flex;
        justify-content: center;
        align-items: center;
        &.isLogin{
            display: none !important;
        }
    }
}

// 登入畫面
.login{
    width: 30rem;
    height: 15rem;
    background:rgba(255,255,255,0.3);
    border-radius: 25px;
    padding: 2rem;
    .loginForm{
        width: 100%;
        height: 100%;
        .container{
            font-size: 16px;
            font-family: Verdana,Arial,\\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei,\\5FAE\8EDF\96C5\9ED1\9AD4,Microsoft YaHei;
            &.input{
            height: 75%;
            margin-bottom: 1rem ;
                >div{
                    height: 50%;
                    >div{
                        height: 25px;
                    }
                    >input{
                        border-radius: 3px;
                        height: 35px;
                        padding: 5px;
                        width: 100%;
                    }
                }
            }
            &.button{
                display: flex;
                height: auto;
                width: 100%;
                justify-content: center;
                >div{
                    height: 30px;
                    width: 60px;
                    border-radius: 3px;
                    padding: 5px;
                    margin: 0 5px;
                    background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
                    color: #fff;
                    border: solid 1px #fff;
                    box-shadow: 0px 0px 0px 2px #94d7e6;
                    cursor:pointer;
                    &:hover{
                        background: linear-gradient(45deg, #21CBF3  30%, #2196F3 90%);
                    }
                }
            }
        }
    }
}

//登入後畫面
.content{
    display: none;
    &.isLogin{
        display: block;
        width: 100%;
        height: 100%;
        >ul {
            display: flex;
            li {
                padding: 1em;
                a {
                    text-decoration:none;
                    font-size: 18px;
                }
                &::marker{
                    content: none;
                }
            }
        }
        >.contentContain{
            padding: 0 2.5em;
            width: 100%;
            height: 100%;
        }
    }
}

// font-family: Verdana,Arial,\\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei,\\5FAE\8EDF\96C5\9ED1\9AD4,Microsoft YaHei;